---
	layout : "base.njk"
---
	<div class="container-wrap">
		<div id="fh5co-events">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>বিহারাধ্যাক্ষ</h2>
				</div>
			</div>
		</div>
		<div id="committee-rtl">
			<div>
				<img src="/images/comt/img-31.jpg" alt="বিহারাধ্যক্ষঃ শ্রীমৎ ঞানানন্দ ভিক্ষু" loading="lazy">
				<h3>বিহারাধ্যক্ষঃ শ্রীমৎ ঞানানন্দ ভিক্ষু</h3>
			</div>
			<div>
				<img src="/images/comt/img-32.jpg" alt="ধর্মকীর্তি শ্রমণ" loading="lazy">
				<h3>ধর্মকীর্তি শ্রমণ</h3>
			</div>
			<div>
				<img src="/images/comt/img-33.jpg" alt="শ্রমণ " loading="lazy">
				<h3>শ্রমণ </h3>
			</div>
		</div>
		<div id="fh5co-events">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>পরিচালনা পরিষদ
					</h2>
				</div>
			</div>
		</div>
		<div id="committee-rtl">
			<div>
				<img src="/images/comt/img-1.jpg" alt="এ্যাড.শৈলেন্দ্র কিশোর চৌধুরী" loading="lazy">
				<h3>প্রধান পৃষ্ঠপোষকঃ এ্যাড.শৈলেন্দ্র কিশোর চৌধুরী।ডি.আই.জি (অব.)</h3>
			</div>
			<div>
				<img src="/images/comt/img-2.jpg" alt="রাজেন্দ্র কিশোর চৌধুরী" loading="lazy">
				<h3>পৃষ্ঠপোষকঃ রাজেন্দ্র কিশোর চৌধুরী।এ.এস.পি (অব.)</h3>
			</div>
			<div>
				<img src="/images/comt/img-3.jpg" alt="জীতেন্দ্র কিশোর চেীধুরী" loading="lazy">
				<h3>সভাপতি: জীতেন্দ্র কিশোর চেীধুরী</h3>
			</div>
			<div>
				<img src="/images/comt/img-4.jpg" alt="অরবিন্দু বড়ুয়া" loading="lazy">
				<h3>সহ-সভাপতি: অরবিন্দু বড়ুয়া (রবীন্দ্র)</h3>
			</div>
			<div>
				<img src="/images/comt/img-5.jpg" alt="অনুপম চৌধুরী" loading="lazy">
				<h3>সহ-সভাপতি: অনুপম চৌধুরী (সেন্টু)</h3>
			</div>
			<div>
				<img src="/images/comt/img-6.jpg" alt="সাধারণ সম্পাদকঃ সুজিত বড়ুয়া" loading="lazy">
				<h3>সাধারণ সম্পাদকঃ সুজিত বড়ুয়া</h3>
			</div>
			<div>
				<img src="/images/comt/img-7.jpg" alt="সহ-সাধারণ সম্পাদকঃ বাবলু বড়ুয়া " loading="lazy">
				<h3>সহ-সাধারণ সম্পাদকঃ বাবলু বড়ুয়া</h3>
			</div>
			<div>
				<img src="/images/comt/img-8.jpg" alt="র্অথ সম্পাদকঃ শুভ্র চৌধুরী" loading="lazy">
				<h3>র্অথ সম্পাদকঃ শুভ্র চৌধুরী</h3>
			</div>
			<div>
				<img src="/images/comt/img-9.jpg" alt="সহ-র্অথ সম্পাদকঃ বিশ্বজিৎ বড়ুয়া " loading="lazy">
				<h3>সহ-র্অথ সম্পাদকঃ বিশ্বজিৎ বড়ুয়া </h3>
			</div>
			<div>
				<img src="/images/comt/img-10.jpg" alt="আন্তর্জাতিক বিষয়ক সম্পাদক: উজ্জ্বল চৌধুরী" loading="lazy">
				<h3>আন্তর্জাতিক বিষয়ক সম্পাদক: উজ্জ্বল চৌধুরী</h3>
			</div>
			<div>
				<img src="/images/comt/img-11.jpg" alt="  তথ্য ও প্রযুক্তি বিষয়ক সম্পাদক: অতনু কিশোর চৌধুরী" loading="lazy">
				<h3>  তথ্য ও প্রযুক্তি বিষয়ক সম্পাদক:অতনু কিশোর চৌধুরী</h3>
			</div>
			<div>
				<img src="/images/comt/img-12.jpg" alt="যুব ও ক্রীড়া বিষয়ক সম্পাদক: সুমন বড়ুয়া" loading="lazy">
				<h3>যুব ও ক্রীড়া বিষয়ক সম্পাদক: সুমন বড়ুয়া</h3>
			</div>
			<div>
				<img src="/images/comt/img-13.jpg" alt="সহ-যুব ও ক্রীড়া বিষয়ক সম্পাদক: রানা বড়ুয়া" loading="lazy">
				<h3>সহ-যুব ও ক্রীড়া বিষয়ক সম্পাদক: রানা বড়ুয়া</h3>
			</div>
			<div>
				<img src="/images/comt/img-14.jpg" alt="ধর্মীয় বিষয়ক সম্পাদকঃ পলাশ বড়ুয়া" loading="lazy">
				<h3>ধর্মীয় বিষয়ক সম্পাদকঃ পলাশ বড়ুয়া</h3>
			</div>
			<div>
				<img src="/images/comt/img-15.jpg" alt="দফতর সম্পাদকঃ সজীব বড়ুয়া " loading="lazy">
				<h3>দফতর সম্পাদকঃ সজীব বড়ুয়া </h3>
			</div>
			<div>
				<img src="/images/comt/img-16.jpg" alt="প্রচার সম্পাদকঃ বিজয় বড়ুয়া " loading="lazy">
				<h3>প্রচার সম্পাদকঃ বিজয় বড়ুয়া</h3>
			</div>
			<div>
				<img src="/images/comt/img-17.jpg" alt="সহ-প্রচার সম্পাদকঃ ঋত্বিক বড়ুয়া" loading="lazy">
				<h3>সহ-প্রচার সম্পাদকঃ ঋত্বিক বড়ুয়া </h3>
			</div>
			<div>
				<img src="/images/comt/img-18.jpg" alt="মহিলা সম্পাদিকা: আলপনা চৌধুরী" loading="lazy">
				<h3>মহিলা সম্পাদিকা: আলপনা চৌধুরী</h3>
			</div>
			<div>
				<img src="/images/comt/img-19.jpg" alt="সহ-মহিলা সম্পাদিকা:  কৃষ্ণনা চৌধুরী" loading="lazy">
				<h3>সহ-মহিলা সম্পাদিকা:  কৃষ্ণনা চৌধুরী</h3>
			</div>
			<div>
				<img src="/images/comt/img-20.jpg" alt="সদস্য : সুরেশ বড়ুয়া" loading="lazy">
				<h3>সদস্য : সুরেশ বড়ুয়া</h3>
			</div>
			<div>
				<img src="/images/comt/img-21.jpg" alt="সদস্য : উত্তম বড়ুয়া (কালা)" loading="lazy">
				<h3>সদস্য : উত্তম বড়ুয়া (কালা)</h3>
			</div>
			<div>
				<img src="/images/comt/img-22.jpg" alt="সদস্য : নিকাশ বড়ুয়া (মালু)" loading="lazy">
				<h3>সদস্য : নিকাশ বড়ুয়া (মালু)</h3>
			</div>
			<div>
				<img src="/images/comt/img-23.jpg" alt="সদস্য : অমুল্য বড়ুয়া" loading="lazy">
				<h3>সদস্য : অমুল্য বড়ুয়া</h3>
			</div>
			<div>
				<img src="/images/comt/img-24.jpg" alt="সদস্য : আনন্দ কুমার বড়ুয়া" loading="lazy">
				<h3>সদস্য : আনন্দ কুমার বড়ুয়া</h3>
			</div>
			<div>
				<img src="/images/comt/img-26.jpg" alt="সদস্য : নকুল বড়ুয়া" loading="lazy">
				<h3>সদস্য : নকুল বড়ুয়া</h3>
			</div>
			<div>
				<img src="/images/comt/img-27.jpg" alt="সদস্য : সবুজ বড়ুয়া" loading="lazy">
				<h3>সদস্য : সবুজ বড়ুয়া</h3>
			</div>
			<div>
				<img src="/images/comt/img-30.jpg" alt="সদস্য : শিমুল বড়ুয়া" loading="lazy">
				<h3>সদস্য : শিমুল বড়ুয়া</h3>
			</div>
			<div>
				<img src="/images/comt/img-34.jpg" alt="সভাপতি" loading="lazy">
				<!-- <h3></h3> -->
			</div>
			<div>
				<img src="/images/comt/img-35.jpg" alt="সাধারণ সম্পাদক" loading="lazy">
				<!-- <h3></h3> -->
			<!-- </div>
			<div>
				<img src="/images/comt/img-.jpg" alt="" loading="lazy">
				<h3></h3>
			</div> -->

		</div>
	</div><!-- END container-wrap -->

