---
	layout : "base.njk"
---


	<div class="container-wrap">
		<aside id="fh5co-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url(/images/img_bg_4.jpg);">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 text-center">
				   				<div class="slider-text">
					   				<div class="slider-text-inner">
					   					<!-- <h1>Living &amp; Sharing the Gospel of Gautam Buddha</h1>
											<h2></h2> -->
					   				</div>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	<li style="background-image: url(/images/img_bg_5.jpg);">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 text-center">
				   				<div class="slider-text">
					   				<div class="slider-text-inner">
					   					<!-- <h1>Tell The World</h1>
										<h2></h2> -->
					   				</div>
					   			</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
		</aside>
		<div id="q">
			<div class="row animate-box">
				<div class="col-md-12 col-md-offset-0 text-center">
					<h2><img src="images/favicon.png" alt="logo" class="ratul-logo"></h2>
					<h2><span>{{sitedata.title}}</span></h2>
				</div>
			</div>
		</div>
		<div id="fh5co-bible-verse">
			<div class="overlay"></div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row animate-box">
						<div class="owl-carousel owl-carousel-fullwidth">
							<div class="item">
								<div class="bible-verse-slide active text-center">
									<blockquote>
										<p>&ldquo;The fool who knows that he is a fool can, for that reason, be a wise man; but the fool who thinks that he is wise is, indeed, called a fool.&rdquo;</p>
										<span>Dhammapada Verse 63</span>
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="bible-verse-slide active text-center">
									<blockquote>
										<p>&ldquo;As a mountain of rock is unshaken by wind, so also, the wise are unperturbed by blame or by praise.&rdquo;</p>
										<span>Dhammapada Verse 81</span>
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="bible-verse-slide active text-center">
									<blockquote>
										<p>&ldquo;Like one who picks and chooses flowers, a man who has his mind attached to sensual pleasures and is insatiate in them is over powered by Death.&rdquo;</p>
										<span>Dhammapada Verse 48</span>
									</blockquote>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div id="fh5co-counter" class="fh5co-counters">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center animate-box">
					<p>We have a fun facts far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2">
					<div class="row">
						<div class="col-md-3 col-sm-6 col-xs-6 text-center">
							<span class="fh5co-counter js-counter" data-from="0" data-to="9452" data-speed="5000" data-refresh-interval="50"></span>
							<span class="fh5co-counter-label">Members</span>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 text-center">
							<span class="fh5co-counter js-counter" data-from="0" data-to="214" data-speed="5000" data-refresh-interval="50"></span>
							<span class="fh5co-counter-label">Ministries</span>
						</div>
						<div class="clearfix visible-sm-block visible-xs-block"></div>
						<div class="col-md-3 col-sm-6 col-xs-6 text-center">
							<span class="fh5co-counter js-counter" data-from="0" data-to="433" data-speed="5000" data-refresh-interval="50"></span>
							<span class="fh5co-counter-label">Classes</span>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 text-center">
							<span class="fh5co-counter js-counter" data-from="0" data-to="512" data-speed="5000" data-refresh-interval="50"></span>
							<span class="fh5co-counter-label">Activities</span>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- <div id="fh5co-services" class="fh5co-light-grey">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Services</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 animate-box">
					<div class="services">
						<a href="#" class="img-holder"><img class="img-responsive" src="images/img-1.jpg" alt="Free HTML5 Website Template by freehtml5.co"></a>
						<div class="desc">
							<h3><a href="#">Live Events</a></h3>
							<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
							<a href="#">Read More <i class="icon-arrow-right3"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="services">
						<a href="#" class="img-holder"><img class="img-responsive" src="images/img-3.jpg" alt="Free HTML5 Website Template by freehtml5.co"></a>
						<div class="desc">
							<h3><a href="#">Biblical Counseling</a></h3>
							<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
							<a href="#">Read More <i class="icon-arrow-right3"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="services">
						<a href="#" class="img-holder"><img class="img-responsive" src="images/img-2.jpg" alt="Free HTML5 Website Template by freehtml5.co"></a>
						<div class="desc">
							<h3><a href="#">Helping Children</a></h3>
							<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
							<a href="#">Read More <i class="icon-arrow-right3"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div> -->

		<!-- <div id="fh5co-sermon">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Our Sermons</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 text-center animate-box">
					<div class="sermon-entry">
						<div class="sermon" style="background-image: url(/images/sermon-1.jpg);">
							<div class="play">
								<a class="popup-vimeo" href="https://vimeo.com/channels/staffpicks/93951774"><i class="icon-play3"></i></a>
							</div>
						</div>
						<h3>Soul Winning</h3>
						<span>Pstr. John Doe</span>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="sermon-entry">
						<div class="sermon" style="background-image: url(/images/sermon-3.jpg);">
							<div class="play">
								<a class="popup-vimeo" href="https://vimeo.com/channels/staffpicks/93951774"><i class="icon-play3"></i></a>
							</div>
						</div>
						<h3>Message From God</h3>
						<span>Pstr. John Doe</span>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="sermon-entry">
						<div class="sermon" style="background-image: url(/images/sermon-2.jpg);">
							<div class="play">
								<a class="popup-vimeo" href="https://vimeo.com/channels/staffpicks/93951774"><i class="icon-play3"></i></a>
							</div>
						</div>
						<h3>Our World Today</h3>
						<span>Pstr. John Doe</span>
					</div>
				</div>
			</div>
		</div> -->

		<div id="fh5co-events">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-justify fh5co-heading">
					<h2>আমাদের ইতিহাস</h2>
					<p>"ত্রিরত্ন শরণ বিহার" ১৫ই আশ্বিন- ১৩৩৬ সন, (৩০ই সেপ্টেম্বর ১৯২৯ খ্রি:) শ্রী নন্দ কুমার চৌধুরী ও শ্রী শ্যামাচরণ চৌধুরী দ্বারা প্রতিষ্ঠিত হয়। বিহারটি প্রতিষ্ঠার পরে শ্রী নন্দ কুমার চৌধুরীর সুযোগ্য পুত্র এডভোকেট ক্ষিতীশ চন্দ্র চৌধুরী বিশ্বকবি রবীন্দ্রনাথ ঠাকুরকে একখানা পত্র লিখে উক্ত বিহারটি নামকরণ করার জন্য অনুরোধ করেন, রবীন্দ্রনাথ ঠাকুর সেই চিঠির উত্তরে এই বিহারটির নামকরণ করেন  "ত্রিরত্ন শরণ বিহার"। </p>
					<p>শ্রী নন্দ কুমার চৌধুরী ও শ্রী শ্যামাচরণ চৌধুরীর পিতা স্বর্গীয় প্রতাপ নারায়ন রাজবংশী ১৮৯৬ ইংরেজিতে তাহার সকল সম্পত্তি একটি উইল করে দিয়ে যান। ত্রিরত্ন শরণ বিহারটি উইল ভুক্ত সম্পত্তিতে অবস্থিত। যাহার সম্পত্তির পরিমাণ আনুমানিক ৪০ শতক। </p>
					<p>১৯৭১ সালে বাংলাদেশের স্বাধীনতা যুদ্ধের সময় রাজাকারদের সহায়তায় পাক বাহিনীরা উক্ত বিহারের রক্ষিত মূল্যবান ধাতব এবং পাথরের মূর্তি গুলো ভাঙচুর ও লুটপাট করে নিয়ে যায়। গ্রামের অধিকাংশ বাড়িতে পাক বাহিনী এবং তাদের দোসররা অগ্নিসংযোগ এবং লুটপাট করে। কৌশল্যারবাগ বৌদ্ধপল্লীর ৪ জন গ্রামবাসী পাক বাহিনীর হাতে নির্মম ভাবে নিহত হন। তারা যথাক্রমে শ্রী শশী মোহন বড়ুয়া, পুলিশের চাকরি রত অবস্থায় বগুড়াতে এবং দ্বিতীয় জন শ্রী বীরেন্দ্র কুমার বড়ুয়া ঢাকা রাজারবাগ পুলিশ লাইনে চাকরিরত অবস্থায় পাক বাহিনীর গুলিতে শহীদ হন। এছাড়াও আরও ২ জন নিরীহ গ্রামবাসী তাদের নিজ গ্রামে পাক বাহিনীর গুলিতে শহীদ হন। তারা যথাক্রমে শ্রী, জীবনকৃষ্ণ বড়ুয়া এবং শ্রী নীরেন্দ্র কুমার বড়ুয়া (টুনু) উভয়ে রেলে চাকরিরত অবস্থায় ছিলেন। </p>
					<p class="text-center"><img src="images/home/history.jpg" alt="Old Temple Photo" class="img-responsive"></p>
					<p>১৬ই ডিসেম্বর ১৯৭১ সালে পাক বাহিনীর হাত থেকে দেশ স্বাধীন হওয়ার পর চট্টগ্রাম বিভাগে স্বাধীন বাংলাদেশের প্রথম ডেপুটি ইন্সপেক্টর জেনারেল অব পুলিশ (ডি.আই.জি অব পুলিশ) পদে নিয়োগ প্রাপ্ত হন শ্রী শৈলেন্দ্র কিশোর চৌধুরী। তিনি চট্টগ্রামে কর্মরত অবস্থায় থাকাকালীন ১৯৭২ সালে কক্সবাজারে পরিদর্শনে গেলে বিহারে পূজা এবং প্রার্থনা করতে যান, প্রার্থনা পর্ব শেষে তিনি বিহার অধ্যক্ষ উ কুশুল্যা মহাথেরোর নিকট নিজ গ্রামের (ত্রিরত্ন শরণ বিহার) বিহারের  জন্য একটি বুদ্ধ মূর্তি দান করার প্রার্থনা করেন। তিনি বিহার অধ্যক্ষকে আরো বলেন যে, যুদ্ধের সময় আমাদের গ্রামের বিহারের সকল মূর্তি পাক বাহিনী লুটপাট ও ধ্বংস করে দেয়। বর্তমানে আমাদের বিহারে কোন বুদ্ধ মূর্তি নেই। উনার কথায় সন্তুষ্ট হয়ে বিহার অধ্যক্ষ একটি অতি মূল্যবান শ্বেত পাথরের বুদ্ধ মূর্তি দান করেন। এবং বিহার অধ্যক্ষ শ্রী শৈলেন্দ্র কিশোর চৌধুরীকে ১০ টাকা দান করে বলেন যে, এই ১০ টাকা দিয়ে তুমি মূর্তিটিকে একটি চীবর পরিধান করে দিও। বুদ্ধ মূর্তিটি নিয়ে চট্টগ্রামের দিকে ফিরে আসার পথে অতি বর্ষণ ও বন্যা জনিত কারণে ব্রিজ ভেঙ্গে তিনি মহাসংকটে পড়েন, তারপর স্থানীয় গ্রামবাসীর সহযোগিতায় ব্রিজ পার হয়ে সেখান থেকে চট্টগ্রামের উদ্দেশ্যে রওনা দেন। তারপর তিনি মূর্তিটি নিজ গ্রামে পাঠিয়ে দেন। মূর্তিটি আক্কেল আলির দোকানে পৌঁছালে সেখান থেকে নৌকা যোগে ডাক্তার অনন্ত কুমার চৌধুরী, শ্রী দক্ষিণা রঞ্জন বড়ুয়া (শিক্ষক), শ্রী জগবন্ধু বড়ুয়ার সহায়তা এবং উপস্থিত অন্যান্য গ্রামবাসীর সাহায্যে মূর্তিটি বিহারে স্থাপন করা হয়।</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 animate-box">
					<div class="events-entry">
						<!-- <span class="date">March 10, 2017</span> -->
						<!-- <h3><a href="#">Message From God</a></h3> -->
						<blockquote>
						<p>“You only lose what you cling to.”</p>
						<figcaption><cite>Gautam Buddha</cite></figcaption>
						</blockquote>
						<!-- <a href="#">Read More <i class="icon-arrow-right3"></i></a> -->
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="events-entry">
						<!-- <span class="date">March 20, 2017</span> -->
						<!-- <h3><a href="#">Message From God</a></h3> -->
						<blockquote>
						<p>“Learn this from water: loud splashes the brook but the oceans depth are calm.”</p>
						<figcaption><cite>Gautam Buddha</cite></figcaption>
						</blockquote>
						<!-- <a href="#">Read More <i class="icon-arrow-right3"></i></a> -->
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="events-entry">
						<!-- <span class="date">March 30, 2017</span> -->
						<!-- <h3><a href="#">Message From God</a></h3> -->
						<blockquote>
						<p>“Teach this triple truth to all: A generous heart, kind speech, and a life of service and compassion are the things which renew humanity.”</p>
						<figcaption><cite>Gautam Buddha</cite></figcaption>
						</blockquote>
						<!-- <a href="#">Read More <i class="icon-arrow-right3"></i></a> -->
					</div>
				</div>
			</div>
		</div>
		<div id="fh5co-news" class="fh5co-light-grey">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>আমাদের ছবিসমূহ</h2>
					<!-- <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p> -->
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 animate-box">
					<div class="news">
						<a href="#" class="img-holder"><img class="img-responsive" src="images/home/img-1.jpg" alt="Free HTML5 Website Template by freehtml5.co"></a>
						<!-- <div class="desc">
							<span class="date">March 30, 2017</span>
							<h3><a href="#">Live News</a></h3>
							<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
							<a href="#">Read More <i class="icon-arrow-right3"></i></a>
						</div> -->
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="news">
						<a href="#" class="img-holder"><img class="img-responsive" src="images/home/img-3.jpg" alt="Free HTML5 Website Template by freehtml5.co"></a>
						<!-- <div class="desc">
							<span class="date">March 30, 2017</span>
							<h3><a href="#">Biblical Counseling</a></h3>
							<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
							<a href="#">Read More <i class="icon-arrow-right3"></i></a>
						</div> -->
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="news">
						<a href="#" class="img-holder"><img class="img-responsive" src="images/home/img-2.jpg" alt="Free HTML5 Website Template by freehtml5.co"></a>
						<!-- <div class="desc">
							<span class="date">March 30, 2017</span>
							<h3><a href="#">Helping Children</a></h3>
							<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
							<a href="#">Read More <i class="icon-arrow-right3"></i></a>
						</div> -->
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 animate-box">
					<div class="news">
						<a href="#" class="img-holder"><img class="img-responsive" src="images/home/img-4.jpg" alt="Free HTML5 Website Template by freehtml5.co"></a>
						<!-- <div class="desc">
							<span class="date">March 30, 2017</span>
							<h3><a href="#">Helping Children</a></h3>
							<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
							<a href="#">Read More <i class="icon-arrow-right3"></i></a>
						</div> -->
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="news">
						<a href="#" class="img-holder"><img class="img-responsive" src="images/home/img-5.jpg" alt="Free HTML5 Website Template by freehtml5.co"></a>
						<!-- <div class="desc">
							<span class="date">March 30, 2017</span>
							<h3><a href="#">Helping Children</a></h3>
							<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
							<a href="#">Read More <i class="icon-arrow-right3"></i></a>
						</div> -->
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="news">
						<a href="#" class="img-holder"><img class="img-responsive" src="images/home/img-6.jpg" alt="Free HTML5 Website Template by freehtml5.co"></a>
						<div class="desc">
							<!-- <span class="date">March 30, 2017</span>
							<h3><a href="#">Helping Children</a></h3>
							<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p> -->
							<a href="/pictures">আরো ছবি দেখুন <i class="icon-arrow-right3"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- END container-wrap -->



