---
	layout : "base.njk"
---
	<div class="container-wrap">
		<div id="fh5co-events">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>ত্রিরত্ন ক্রীড়া পরিষদ</h2>
				</div>
			</div>
		</div>
		<div id="committee-rtl" class="krira">
			{% for image in collections.krira-gallery %}
			<div>
				<img src="/{{image}}" alt="krira-gallery-item" loading="lazy">
			</div>
			{% endfor %}
		</div>
	</div><!-- END container-wrap -->

