---
	layout : "base.njk"
---
	<div class="container-wrap">
		<!-- <aside id="fh5co-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url(/images/img_bg_2.jpg);">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 text-center slider-text">
				   				<div class="slider-text-inner">
				   					<h1>News</h1>
										<h2>Free html5 templates Made by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
		</aside> -->
		<div id="fh5co-news">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>কার্যক্রম সমূহ</h2>
					<h3>আনুষ্ঠানিক সভা</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 animate-box">
					<div class="news">
						<a href="#" class="img-holder"><img class="img-responsive" src="/images/news/img-1.jpg" alt="Trirotno Shoron Bihar"></a>
						<!-- <div class="desc">
							<span class="date">March 30, 2017</span>
							<h3><a href="#">Live News</a></h3>
							<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
							<a href="#">Read More <i class="icon-arrow-right3"></i></a>
						</div> -->
					</div>
				</div>
				<div class="col-md-3 animate-box">
					<div class="news">
						<a href="#" class="img-holder"><img class="img-responsive" src="/images/news/img-2.jpg" alt="Trirotno Shoron Bihar"></a>
					</div>
				</div>
				<div class="col-md-3 animate-box">
					<div class="news">
						<a href="#" class="img-holder"><img class="img-responsive" src="/images/news/img-3.png" alt="Trirotno Shoron Bihar"></a>
					</div>
				</div>
				
				</div>
				<div class="row animate-box">
					<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
						<h3>শীতবস্ত্র প্রদান</h3>
						<p>ত্রিরত্ন শরণ বিহার কৌশল্যার বাগ, সোনাইমুড়ী, নোয়াখালী, প্রাঙ্গনে শীত বস্ত্র বিতরণ করা হয়, বিতরণ অনুষ্ঠানে উপস্থিত ছিলেন বিহারের পৃষ্ঠপোষক শ্রী,আর,কে,চৌধুরী, জীতেন্দ্র কিশোর চৌধুরী, (সভাপতি), উজ্জল চৌধুরী,( আন্তর্জাতিক সম্পাদক) বাবলু বড়ুয়া,(সহকারী সম্পাদক) রবীন্দ্র বড়ুয়া (ধর্ম বিষয়ক উপদেষ্টা) বিশ্বজিৎ বডুয়া(সহকারী কোষাধ্যক্ষ) রিপন চৌধুরী,শুভ্র চৌধুরী, আনন্দ বড়ুয়, অমূল্য বড়ুযা,বিনোদ বিহারী বড়ুয়া,নিকাশ বড়ুয়া,বিক্রম বড়ুয়া, এবং কমিটির অন্যান্য সদস্য সহ অত্র গ্ৰামের ধর্মপ্রাণ উপাশক উপাশিকা বৃন্দ,,শীত বস্ত্র দান করেছেন  বাংলাদেশ সরকারের সাবেক শিল্পমন্ত্রী শ্রী,দীলিপ বড়ুয়া, সমাপনী অনুষ্ঠানে সমবেত ভাবে তার সুখ শান্তি কামনা করা হয়। সাধু সাধু সাধু! </p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 animate-box">
						<a href="#" class="img-holder"><img class="img-responsive" src="/images/news/sb/img-3.jpg" alt="Trirotno Shoron Bihar"></a>
					</div>
					<div class="col-md-3 animate-box">
						<a href="#" class="img-holder"><img class="img-responsive" src="/images/news/sb/img-4.jpg" alt="Trirotno Shoron Bihar"></a>
					</div>
					<div class="col-md-3 animate-box">
						<a href="#" class="img-holder"><img class="img-responsive" src="/images/news/sb/img-1.jpg" alt="Trirotno Shoron Bihar"></a>
					</div>
					<div class="col-md-3 animate-box">
						<a href="#" class="img-holder"><img class="img-responsive" src="/images/news/sb/img-5.jpg" alt="Trirotno Shoron Bihar"></a>
					</div>
				</div> <br>
				<div class="row">
					<div class="col-md-3 animate-box">
						<a href="#" class="img-holder"><img class="img-responsive" src="/images/news/sb/img-6.jpg" alt="Trirotno Shoron Bihar"></a>
					</div>
					<div class="col-md-3 animate-box">
						<a href="#" class="img-holder"><img class="img-responsive" src="/images/news/sb/img-7.jpg" alt="Trirotno Shoron Bihar"></a>
					</div>
					<div class="col-md-3 animate-box">
						<a href="#" class="img-holder"><img class="img-responsive" src="/images/news/sb/img-8.jpg" alt="Trirotno Shoron Bihar"></a>
					</div>
					<div class="col-md-3 animate-box">
						<a href="#" class="img-holder"><img class="img-responsive" src="/images/news/sb/img-9.jpg" alt="Trirotno Shoron Bihar"></a>
					</div>
				</div> <br>
				<div class="row"> 
					<img class="img-responsive" src="/images/news/sb/img-2.jpg" alt="Trirotno Shoron Bihar"></a>
				</div> <br>
				<div style="display: flex; align-items: center; justify-content: center;"><div>
						<img src="/images/news/img-a.png" alt="Trirotno Shoron Bihar"></a>
				</div></div>
			</div>
		</div>
	</div><!-- END container-wrap -->
